/* Font Families */
/* font-family: 'Alfa Slab One', cursive; */
/* font-family: 'Roboto Condensed', sans-serif; */
/* font-family: 'Cabin', sans-serif; */
/* font-family: 'Roboto Condensed', sans-serif; */
/* font-family: 'Overpass', sans-serif; */
body {
  background-color: rgb(245, 245, 245);
  color: rgb(39, 39, 39);
  font-family: 'Overpass', sans-serif;
}

a {
  color: rgb(0, 0, 0);
}

h6 {
  color: rgb(97, 97, 97);
}

#section {
  margin-top: 100px;
}
#article-card {
  margin: 0px 290px 45px 290px;
}

.navbar-brand {
  font-family: 'Alfa Slab One', cursive;
}

.nav-item {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.card-body {
  background-color: rgb(148, 148, 148);
}

.article-title {
  font-family: 'Roboto Condensed', sans-serif;
}

.article-content {
  font-family: 'Cabin', sans-serif;
}

.fit-image {
  width: 100%;
  object-fit: cover;
  height: 185px; /* only if you want fixed height */
}

@media only screen and (max-width: 900px) {
  #article-card {
    margin: 0px 50px 45px 50px;
  }
}
